In [1]:
#1.- Introduction

In [2]:
# Univariate Statistics: a specific observation

In [3]:
#2.- Managing files with pandas

In [4]:
import pandas as pd

In [5]:
# read_csv function and save in a variable df, csv (read files separated by ,)
df= pd.read_csv('alumnos.csv')

In [6]:
#method that comes by default
df.head(5)

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [7]:
#3.- Pandas Dataframe

In [8]:
type(df) #data type of the df we are using... turns out it is a data.frame

pandas.core.frame.DataFrame

In [9]:
# column results
df.columns

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [10]:
#### SERIES###### and it gives me an index

In [11]:
df['altura']

0     1.67
1     1.73
2     1.62
3     1.58
4     1.86
5     1.79
6     1.69
7     1.60
8     1.60
9     1.98
10    1.72
11    1.63
12    1.73
13    1.62
14    1.58
15    1.86
16    1.79
17    1.60
18    1.98
19    1.72
20    1.58
Name: altura, dtype: float64

In [22]:
#Specific method to access an index
#locate by index to the second observation
#: means you are going to select all the elements
df.iloc[2,:]

nombre    Luis
altura    1.62
peso        70
edad        28
sexo         h
Name: 2, dtype: object

In [14]:
#4.- Pandas Series: consists of two elements: values and indexes

In [15]:
df['sexo'].index

RangeIndex(start=0, stop=21, step=1)

In [16]:
#associated values, provides information from the records
df['sexo'].values

array(['h', 'h', 'h', 'm', 'h', 'h', 'm', 'h', 'm', 'h', 'm', 'm', 'm',
       'h', 'h', 'm', 'h', 'm', 'h', 'h', 'm'], dtype=object)

In [17]:
peso_alumnos = df['peso']

In [18]:
peso_alumnos

0      60
1      83
2      70
3      58
4      98
5     100
6      62
7      83
8      56
9     112
10     72
11     57
12     68
13     78
14     67
15     74
16     93
17     63
18    102
19     78
20     65
Name: peso, dtype: int64

In [19]:
type(peso_alumnos)

pandas.core.series.Series

In [20]:
#we extract the first 5 observations 
peso_alumnos[:5]

0    60
1    83
2    70
3    58
4    98
Name: peso, dtype: int64

In [21]:
#extract me from fifth position up to 5 more, but does not include 10
peso_alumnos[5:10]

5    100
6     62
7     83
8     56
9    112
Name: peso, dtype: int64