In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('alumnos.csv')

In [3]:
df.head(5)

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [4]:
#8.- Media

In [5]:
media_nativa = sum(df['altura'])/len(df['altura'])

In [7]:
import numpy as np

In [10]:
#pandas - media

In [11]:
media_pandas= df['altura'].mean()

In [21]:
media_numpy = np.mean(df['altura'])

In [23]:
#comparaciÃ³n de medias
for i in[media_nativa, media_pandas, media_numpy]:
    print(i)

1.7109523809523806
1.7109523809523806
1.7109523809523806

In [25]:
media_numpy == media_nativa

True

In [26]:
media_pandas == media_nativa

True

In [12]:
#9.-Mode: observed value that is repeated > frequently

In [13]:
from scipy import stats

In [14]:
#most common result and is repeated three times
stats.mode(df['altura'])

ModeResult(mode=1.58, count=3)

In [16]:
#10.-Median: consider the equidistant point of a variable

In [17]:
df['altura'].median()

1.69

In [35]:
#numpy
np.median(df['altura'])

1.69

In [ ]:
#11.-When the average is added, one can intuit how the variable operates. Variance: reports how dispersed the observations are from the point of origin

In [37]:
df['altura'].var()

0.01580904761904761

In [38]:
# When the average is added, one can intuit how the variable operates.
df['altura'].mean()

1.7109523809523806

In [40]:
#12.- Standard deviation: allows us to compare different values whose range of values is different from each other.
#It is more consistent

In [41]:
df['altura'].std()

0.1257340352452255

In [42]:
np.std(df['altura'])

0.12270385416792902