In [3]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('alumnos.csv')

In [5]:
#13.- Flow control through series

In [6]:
for i in df['altura']:
    print(i, "es del type", type(i))

1.67 es del type <class 'float'>
1.73 es del type <class 'float'>
1.62 es del type <class 'float'>
1.58 es del type <class 'float'>
1.86 es del type <class 'float'>
1.79 es del type <class 'float'>
1.69 es del type <class 'float'>
1.6 es del type <class 'float'>
1.6 es del type <class 'float'>
1.98 es del type <class 'float'>
1.72 es del type <class 'float'>
1.63 es del type <class 'float'>
1.73 es del type <class 'float'>
1.62 es del type <class 'float'>
1.58 es del type <class 'float'>
1.86 es del type <class 'float'>
1.79 es del type <class 'float'>
1.6 es del type <class 'float'>
1.98 es del type <class 'float'>
1.72 es del type <class 'float'>
1.58 es del type <class 'float'>

In [7]:
for i in df['altura']:
    print(i + 1.00)

2.67
2.73
2.62
2.58
2.8600000000000003
2.79
2.69
2.6
2.6
2.98
2.7199999999999998
2.63
2.73
2.62
2.58
2.8600000000000003
2.79
2.6
2.98
2.7199999999999998
2.58

In [8]:
##series operations

In [9]:
#me da la posición
for i in df['altura'].index:
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [19]:
#para que nos entregue los valores hacemo uso de un subcripto
for i in df['altura'].index:
    if i%2 == 0:
        print(df['altura'][i])

1.67
1.62
1.86
1.69
1.6
1.72
1.73
1.58
1.79
1.98
1.58

In [20]:
#extraigo la media
mean_peso = df['peso'].mean()

In [21]:
for i in df['peso']:
    if i > mean_peso:
        print(i, "tiene un peso sobre el promedio")
    else:
        print(i, "tiene un peso bajo el promedio")

60 tiene un peso bajo el promedio
83 tiene un peso sobre el promedio
70 tiene un peso bajo el promedio
58 tiene un peso bajo el promedio
98 tiene un peso sobre el promedio
100 tiene un peso sobre el promedio
62 tiene un peso bajo el promedio
83 tiene un peso sobre el promedio
56 tiene un peso bajo el promedio
112 tiene un peso sobre el promedio
72 tiene un peso bajo el promedio
57 tiene un peso bajo el promedio
68 tiene un peso bajo el promedio
78 tiene un peso sobre el promedio
67 tiene un peso bajo el promedio
74 tiene un peso bajo el promedio
93 tiene un peso sobre el promedio
63 tiene un peso bajo el promedio
102 tiene un peso sobre el promedio
78 tiene un peso sobre el promedio
65 tiene un peso bajo el promedio

In [22]:
mean_peso

76.14285714285714

In [23]:
#14.- Control de flujo mediante iteritems

In [24]:
#for en estructura dataframe
for i in df:
    print(i)

nombre
altura
peso
edad
sexo

In [25]:
df.head(5)

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [26]:
#iterritems: dirección del recorriedo oriendtado por columnas

In [27]:
for colname, serie in df.iteritems():
    print(colname)
    print(serie[:5])

nombre
0         Hugo
1         Paco
2         Luis
3        Diana
4    Francisco
Name: nombre, dtype: object
altura
0    1.67
1    1.73
2    1.62
3    1.58
4    1.86
Name: altura, dtype: float64
peso
0    60
1    83
2    70
3    58
4    98
Name: peso, dtype: int64
edad
0    23
1    25
2    28
3    21
4    28
Name: edad, dtype: int64
sexo
0    h
1    h
2    h
3    m
4    h
Name: sexo, dtype: object

In [28]:
for colname, serie in df.iteritems():
    if serie.dtype == 'object':
        print(colname, "es un objeto")
    else:
        print("La media de", colname, "es de", serie.mean())

nombre es un objeto
La media de altura es de 1.7109523809523806
La media de peso es de 76.14285714285714
La media de edad es de 26.333333333333332
sexo es un objeto

In [29]:
#15.- Control de flujo mediante iterrows

In [30]:
for rowname, rowseries in df.iterrows():
    if rowseries['sexo'] == 'm':
        print(rowseries['nombre'])

Diana
Jacinta
Marisol
Trinidad
Camila
Macarena
Alejandra
Carolina
Gloria

In [31]:
df.iloc[0].values

array(['Hugo', 1.67, 60, 23, 'h'], dtype=object)

In [ ]:
#16.- Subsetting

In [32]:
df['peso'] < mean_peso

0      True
1     False
2      True
3      True
4     False
5     False
6      True
7     False
8      True
9     False
10     True
11     True
12     True
13    False
14     True
15     True
16    False
17     True
18    False
19    False
20     True
Name: peso, dtype: bool

In [34]:
df[df['sexo'] == 'm']['nombre']

3         Diana
6       Jacinta
8       Marisol
10     Trinidad
11       Camila
12     Macarena
15    Alejandra
17     Carolina
20       Gloria
Name: nombre, dtype: object

In [35]:
#17.-Implementing conditionals with iterrows

In [38]:
contador_male = 0
for rowname, rowseries in df.iterrows():
    if rowseries['sexo'] == 'h':
        contador_male += rowseries['peso']
print(contador_male/12)

85.33333333333333

In [39]:
#to get the number of observations of man.
df['sexo'].value_counts()

h    12
m     9
Name: sexo, dtype: int64

In [40]:
#18.- Implementing conditionals with iterrows

In [41]:
#average of those women who have a height less than average and then their weight

In [49]:
mean_female_below_height = 0
count_female_n =0
for rowname, rowseries in df.iterrows():
    if (rowseries['sexo'] == 'm') & (rowseries['altura'] < df['altura'].mean()):
        mean_female_below_height += rowseries['peso']
        count_female_n +=1

In [52]:
#possible average weight
mean_female_below_height/count_female_n

60.166666666666664

In [53]:
count_female_n

6