In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('got_battles.csv')

In [18]:
df.head(5)

,me,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [19]:
#2.- Introduction to probability

In [20]:
df['attacker_king'].value_counts('%')

attacker_king
Joffrey/Tommen Baratheon    0.388889
Robb Stark                  0.277778
Balon/Euron Greyjoy         0.194444
Stannis Baratheon           0.138889
Name: proportion, dtype: float64

In [21]:
len(df)

38

In [22]:
14/38

0.3684210526315789

In [23]:
#3.- Elementos conformantes de la probabilidad

In [24]:
#espacio persdidos
df['attacker_king'].isna()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22     True
23    False
24    False
25    False
26    False
27    False
28    False
29     True
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
Name: attacker_king, dtype: bool

In [25]:
df['attacker_king'].isna().value_counts()

attacker_king
False    36
True      2
Name: count, dtype: int64

In [26]:
#4.- Conceptualization of probabilistic events

In [27]:
#battles originated
#we analyze those records where it was not started by a baratheon
df['attackers_non_baratheon']= np.where(df['attacker_king']!= 'Joffrey/Tommen Baratheon', 1, 0)

In [28]:
#count unique categories
df['attackers_non_baratheon'].value_counts('%')

attackers_non_baratheon
1    0.631579
0    0.368421
Name: proportion, dtype: float64

In [29]:
#5.- Axiomas de Kolmogorov

In [30]:
batallas_rey = df['attacker_king'].value_counts()

In [31]:
#a.- No negativdad
batallas_rey >0

attacker_king
Joffrey/Tommen Baratheon    True
Robb Stark                  True
Balon/Euron Greyjoy         True
Stannis Baratheon           True
Name: count, dtype: bool

In [32]:
#aditividad y nomalizaciÃ³n
cumulative_pr = 0
string_pr = ""
for index, value in batallas_rey.items():
    cumulative_pr+= value
    string_pr += index + ""
    print(string_pr, cumulative_pr)

Joffrey/Tommen Baratheon 14
Joffrey/Tommen BaratheonRobb Stark 24
Joffrey/Tommen BaratheonRobb StarkBalon/Euron Greyjoy 31
Joffrey/Tommen BaratheonRobb StarkBalon/Euron GreyjoyStannis Baratheon 36

In [33]:
#6.- Evaluando uniÃ³n de eventos probabilÃ­sticos

In [34]:
df['attacker_king'].unique()

array(['Joffrey/Tommen Baratheon', 'Robb Stark', 'Balon/Euron Greyjoy',
       'Stannis Baratheon', nan], dtype=object)

In [35]:
df.loc[:, ['major_death', 'major_capture']].head(5)
#uniÃ³n se emplea or

   major_death  major_capture
0          1.0            0.0
1          1.0            0.0
2          0.0            1.0
3          1.0            1.0
4          1.0            1.0

In [36]:
for rowname, rowserie in df.iterrows():
    if rowserie['major_death'] == 1.0 or rowserie['major_capture'] == 1.0:
        print(rowserie['me'])

Battle of the Golden Tooth
Battle at the Mummer's Ford
Battle of Riverrun
Battle of the Green Fork
Battle of the Whispering Wood
Battle of Winterfell
Sack of Torrhen's Square
Sack of Winterfell
Battle of Oxcross
Siege of Storm's End
Sack of Harrenhal
Battle of the Blackwater
Battle of Duskendale
Retaking of Harrenhal
The Red Wedding
Siege of Seagard
Battle of Castle Black
Siege of Raventree

In [37]:
major_death_or_capture = 0
for rowname, rowserie in df.iterrows():
    if rowserie['major_death'] == 1.0 or rowserie['major_capture'] == 1.0:
        print(rowserie['me'])
        major_death_or_capture +=1

Battle of the Golden Tooth
Battle at the Mummer's Ford
Battle of Riverrun
Battle of the Green Fork
Battle of the Whispering Wood
Battle of Winterfell
Sack of Torrhen's Square
Sack of Winterfell
Battle of Oxcross
Siege of Storm's End
Sack of Harrenhal
Battle of the Blackwater
Battle of Duskendale
Retaking of Harrenhal
The Red Wedding
Siege of Seagard
Battle of Castle Black
Siege of Raventree

In [38]:
 major_death_or_capture

18

In [39]:
 major_death_or_capture/len(df)

0.47368421052631576

In [40]:
len(df)

38

In [41]:
 #evalÃºa dos condiciones donde me devuelve tru cuando se cumple una de ellas (mejor en grandes cantidades de datos)
np.logical_or(df['major_death'] == 1.0, 
              df ['major_capture'] == 1.0 )

0      True
1      True
2      True
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16    False
17     True
18    False
19     True
20    False
21     True
22    False
23    False
24     True
25     True
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37    False
dtype: bool

In [42]:
df['major_death_or_capture'] = np.logical_or(df['major_death'] == 1.0, 
                              df ['major_capture'] == 1.0 )

In [43]:
df['major_death_or_capture'].value_counts('%')

major_death_or_capture
False    0.526316
True     0.473684
Name: proportion, dtype: float64

In [44]:
#7.- Evaluating intersection of probabilistic events

In [45]:
major_death_or_capture = 0

for rowname, rowserie in df.iterrows():
    if rowserie['major_death'] ==1 and rowserie['major_capture'] ==1.0:
        print(rowserie['me'])
        major_death_or_capture +=1

Battle of the Green Fork
Battle of the Whispering Wood
Battle of Oxcross
Battle of the Blackwater
The Red Wedding
Battle of Castle Black

In [46]:
major_death_or_capture/len(df)

0.15789473684210525

In [47]:
np.logical_and(df['major_death'] == 1.0, 
               df['major_capture'] == 1.0)

0     False
1     False
2     False
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24    False
25     True
26    False
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
dtype: bool

In [48]:
df['major_death_or_capture'] = np.logical_and(df['major_death'] == 1.0, 
               df['major_capture'] == 1.0)

In [49]:
df['major_death_or_capture'].value_counts('%')

major_death_or_capture
False    0.842105
True     0.157895
Name: proportion, dtype: float64

In [50]:
#8.- Conditional probability

In [53]:
muerte_importante_y_baratheon = 0
for rowname, rowserie in df.iterrows():
    if rowserie['major_death'] == 1.0 and rowserie['attacker_king'] == 'Joffrey/Tommen Baratheon':
        print(rowserie['me'])
        muerte_importante_y_baratheon +=1

Battle of the Golden Tooth
Battle at the Mummer's Ford
Sack of Winterfell
Retaking of Harrenhal
The Red Wedding

In [52]:
batalla_baratheon = df['attacker_king'].value_counts().get('Joffrey/Tommen Baratheon')

In [38]:
print(batalla_baratheon)

14

In [39]:
muerte_importante_y_baratheon/batalla_baratheon

0.35714285714285715

In [40]:
#9.- Feature Recap

In [41]:
def hipotenusa(cateto1, cateto2):
    tmp= np.sqrt(cateto1**2 + cateto2** 2)
    return tmp

In [42]:
hipotenusa(6,8)

10.0

In [43]:
def hipotenusa(cateto1 =3, cateto2=4):
    tmp= np.sqrt(cateto1**2 + cateto2** 2)
    return tmp

In [44]:
#doctstring
def hipotenusa(cateto1 =3, cateto2=4):
    """
   - definiciÃ³n: quÃ© realiza la funciÃ³n
    devuelve la hipotenusa de dos catetos
   -  parÃ¡metros ingreso
   -QuÃ© retorna: la hipotesusa, que por defecto me devuelve un float
    
    """
    tmp= np.sqrt(cateto1**2 + cateto2** 2)
    return tmp

In [45]:
hipotenusa()

5.0

In [46]:
#10.-First Pandas function

In [47]:
#a.- report of univariate statistics of a pd.Series

In [48]:
from scipy import stats

def fetch_descriptives(x):
    tmp_mean= np.mean(x)
    tmp_median=np.median(x)
    tmp_var=np.var(x)
    tmp_mode=stats.mode(x)
    return  tmp_mean,tmp_median, tmp_var, tmp_mode

In [49]:
fetch_descriptives(df['attacker_size'])

C:\Users\USUARIO\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3405: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)

(9942.541666666666,
 nan,
 394261997.7482639,
 ModeResult(mode=array([6000.]), count=array([3])))

In [50]:
type(fetch_descriptives(df['attacker_size']))

tuple

In [51]:
#11.- Including validations to a function (Part I)

In [52]:
from scipy import stats

def fetch_descriptives(x):
    #eliminamos datos perdidos
    x= x.dropna()
    tmp_mean= np.mean(x)
    tmp_median=np.median(x)
    tmp_var=np.var(x)
    tmp_mode=stats.mode(x)
    return  tmp_mean,tmp_median, tmp_var, tmp_mode

In [53]:
fetch_descriptives(df['attacker_size'])

(9942.541666666666,
 4000.0,
 394261997.7482639,
 ModeResult(mode=array([6000.]), count=array([3])))

In [54]:
 stats.mode(df['attacker_size'])[0][0]

6000.0

In [55]:
type(stats.mode(df['attacker_size'])[0][0])

numpy.float64

In [56]:
from scipy import stats

def fetch_descriptives(x):
    #eliminamos datos perdidos
    x= x.dropna()
    tmp_mean= np.mean(x)
    tmp_median=np.median(x)
    tmp_var=np.var(x)
    tmp_mode=stats.mode(x)[0][0]
    return  tmp_mean,tmp_median, tmp_var, tmp_mode

In [57]:
mean_attacker, median_attacker, mode_attacker, var_attacker = fetch_descriptives(df['attacker_size'])

In [58]:
mean_attacker

9942.541666666666

In [59]:
#12.- Including validations to a function (Part II)

In [60]:
from scipy import stats

def fetch_descriptives(x):
    if isinstance(x, pd.Series) is True:
        x=x.dropna()
        #eliminamos datos perdidos
        x= x.dropna()
        tmp_mean= np.mean(x)
        tmp_median=np.median(x)
        tmp_var=np.var(x)
        tmp_mode=stats.mode(x)
        return  tmp_mean,tmp_median, tmp_var, tmp_mode
    else:
        raise TypeError('El dato ingresado no es una serie')
    return tmp_mean,tmp_median, tmp_var, tmp_mode

In [61]:
isinstance(df['attacker_size'], pd.Series)

True

In [62]:
fetch_descriptives('Lorem ipsum')

TypeError: El dato ingresado no es una serie

In [ ]:
fetch_descriptives(df['attacker_king'])

In [ ]:
from scipy import stats

def fetch_descriptives(x):
    if isinstance(x, pd.Series) is True:
        if x.dtype != 'object':
            x=x.dropna()
            #eliminamos datos perdidos
            x= x.dropna()
            tmp_mean= np.mean(x)
            tmp_median=np.median(x)
            tmp_var=np.var(x)
            tmp_mode=stats.mode(x)
        else:
            raise TypeError('la serie no contiene datos de tipo numÃ©rico')
        return  tmp_mean,tmp_median, tmp_var, tmp_mode
    else:
        raise TypeError('El dato ingresado no es una serie ')
    return tmp_mean,tmp_median, tmp_var, tmp_mode

In [ ]:
fetch_descriptives(df['attacker_king'])

In [ ]:
#13.- Second Pandas function

In [ ]:
#Second function: calculation of conditional probability

In [ ]:
def get_conditional_pr(df, A_var, A_event, B_var, B_event):
    tmp_intersection_counter = 0
    for _, rowserie in df.iterrows():
        if rowserie[A_var] == A_event and rowserie[B_var] == B_event:
            tmp_intersection_counter +=1
    tmp_b_event_freq = df[B_var].value_counts().get(B_event)
    tmp_result =  tmp_intersection_counter/ tmp_b_event_freq
    print(f"Pr({A_event}| {B_event})= {tmp_result}")
    return tmp_result

In [ ]:
get_conditional_pr(df, A_var = 'major_death', A_event = 1.0,
                B_var = 'attacker_king', B_event = 'Joffrey/Tommen Baratheon')